<!DOCTYPE html>
<html>
<head>
	<title>ADMIN Home Page</title>
</head>
<body>

<h1>Welcome Home, <%=name%> </h1> 

	<a href="/adminhome/profile">Profile</a> 
	
	<a href="/adminhome/showmember">Show Member</a> |
	<a href="/adminhome/restaurentlist">Restaurent List</a> |
	<!-- <a href="/home/search">Search</a> | -->
	<a href="logout">logout</a> 

</body>
</html>